@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #121116;
    @apply text-white w-[100vw] overflow-x-hidden pb-8;
}

header {
    @apply py-8 px-12 w-[100vw] flex;
}

#nav-home {
    @apply w-full text-sm lg:text-base ml-[22vw] mr-[27vw] py-2 2xl:py-4 flex justify-center lg:border-2 rounded-2xl;
    align-items: center;
}
#nav-home ul {
    @apply flex justify-center gap-12 font-bold 2xl:text-lg;
}
#nav-home ul li:hover {
    @apply border-b border-white;
}

#main-home {
    @apply w-[85vw] 2xl:w-[66vw] h-[100vh] rounded flex flex-col lg:flex-row gap-8;
    margin: 0 auto;
}
.menu-home {
    @apply bg-[#1F1D27] h-full;
}

#container-player-of-the-week {
    @apply text-center;
}

.dupla-ranking-container {
    @apply flex gap-2 text-sm mx-3 mb-2 py-2 px-3 bg-[#353243] rounded-sm shadow-sm;
    align-items: center;
}
.dupla-ranking-container img {
    @apply w-[20%];
}

.partida-home-container {
    @apply w-full text-sm px-3 pt-3 pb-4 bg-[#353243] border-b border-[#A7A4C6];
}
.data-partida-home {
    @apply pb-4 text-[#BBB] font-bold;
}
.partida-home-dupla-container {
    @apply flex justify-between pb-2;
}
.partida-home-dupla-container p {
    @apply px-1;
}

.res-partida-vitoria {
    @apply text-[#39EB00] font-bold;
}
.res-partida-empate {
    @apply font-bold;
}
.res-partida-derrota {
    @apply text-[#FF4949] font-bold;
}

.evento-home-container {
    @apply w-full px-5 py-4 mt-6 bg-[#353243] border-b border-[#A7A4C6];
}

.container-noticias-home {
    @apply bg-[#A7A4C6] rounded py-3 px-5 mb-4 text-black;
}
.container-noticias-home p {
    @apply text-sm text-[#333] pb-1;
}

#container-noticia {
    @apply bg-[#1F1D27] rounded px-[10%] md:h-screen py-24 w-[85vw] md:w-[60vw];
    margin: 0 auto;
}
#container-noticia h2 {
    @apply text-center text-2xl md:text-3xl font-bold pb-4;
}
#container-noticia h3 {
    @apply text-center md:text-lg text-[#CCC];
}
#data-noticia {
    @apply text-center text-[#AAA] text-sm md:text-base font-bold pt-8 pb-16;
}